{% extends "base.html" %}

{% block content %}

<section class="quiz-page">

    <p class="tag">
        🧠 CYBERSECURITY QUIZ
    </p>

    <h1>
        How Cyber-Smart Are You?
    </h1>

    <p>
        Answer 10 questions and test your phishing awareness.
    </p>


    {% if score is not none %}

    <div class="score-box">

        <h2>
            Your Score
        </h2>

        <p class="big-score">
            {{ score }} / {{ questions|length }}
        </p>

        {% if score >= 8 %}

            <p>
                🎉 Excellent! You have strong cybersecurity awareness.
            </p>

        {% elif score >= 5 %}

            <p>
                👍 Good job! Keep improving your cybersecurity knowledge.
            </p>

        {% else %}

            <p>
                📚 Keep learning about phishing and online safety.
            </p>

        {% endif %}
fix
    </div>

    {% endif %}


    <form method="POST">

        {% for question in questions %}

        {% set question_number = loop.index0 %}

        <div class="question">

            <h3>
                {{ loop.index }}. {{ question.question }}
            </h3>


            {% for option in question.options %}

            <label class="option">

                <input
                    type="radio"
                    name="question_{{ question_number }}"
                    value="{{ loop.index0 }}"
                    required
                >

                {{ option }}

            </label>

            {% endfor %}

        </div>

        {% endfor %}


        <button type="submit"
                class="btn">

            Submit Quiz

        </button>

    </form>

</section>

    {% endblock %}