{% extends "base.html" %}

{% block content %}

<section class="scanner-page">

    <p class="tag">
        🌐 COMMUNITY DATABASE
    </p>

    <h1>
        Reported Scams
    </h1>

    <p>
        These reports are shared to increase awareness
        about suspicious websites, messages and scams.
    </p>


    {% if reports %}

    <div class="reports-list">

        {% for report in reports %}

        <div class="report-card">

            <div class="report-header">

                <span class="report-category">
                    {{ report["category"] }}
                </span>

                <span>
                    {{ report["created_at"] }}
                </span>

            </div>


            <h2>
                🚨 {{ report["target"] }}
            </h2>


            <p>
                {{ report["description"] }}
            </p>

        </div>

        {% endfor %}

    </div>


    {% else %}

    <div class="info-box">

        <h2>
            No reports yet
        </h2>

        <p>
            Be the first person to report a suspicious scam.
        </p>

    </div>

    {% endif %}

</section>

{% endblock %}